<!DOCTYPE html>
<html data-theme="cyberpunk">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{{title}} - Krabby{% endblock %}</title>
  <link rel="stylesheet" href="/assets/style.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
  </style>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  {% block head %}{% endblock %}
</head>

<body class="font-[Outfit] min-h-[100vh] flex flex-col">
  {% block body %}{% endblock %}
</body>

</html>