<!DOCTYPE html>
<html data-theme="lofi">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{{title}} - Krabby{% endblock %}</title>
  <link rel="stylesheet" href="/assets/style.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
  </style>
  {% block head %}{% endblock %}
</head>

<body class="font-[Outfit] flex flex-col">
  {% block content %}{% endblock %}
</body>

</html>