{% extends "../base_nav_footer.html" %}

{% block title %}Krabby{% endblock %}

{% block content %}
{% if base.logged_in %}
<h1 class="mx-auto text-lg">New post</h1>
<form x-data="{files: 0}" action="/api/post/create" method="post" class="mx-auto">
  <input type="text" name="content" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
  <!-- <input @change="handle_files" type="file" name="file" class="" accept="image/* video/*" multiple /> -->
</form>
<!-- <div id="preview"> -->
</div>

<script>
  function handle_files(e) {
    const files = e.target.files;
    const last = files[files.length - 1];
    const last_size = last.size / 1024 / 1024;
    const last_type = last.type;
    if (files.length > 10) {
      return;
    }
    if (last_size >= 5) {
      return;
    }
    let form = document.querySelector("#preview");
    let re_img = /image\/.*/;
    let re_vid = /video\/.*/;
    let elem = "";
    if (last_type.match(re_img)) {
      elem = "img"
    }
    if (last_type.match(re_vid)) {
      elem = "video"
    }
    if (elem == "") {
      files.pop()
      return;
    }
    console.log(files)
    const newPreview = document.createElement(elem);
    newPreview.src = URL.createObjectURL(last)
    form.appendChild(newPreview)
  }
</script>
{% endif %}


{% if feed.len() == 0 %}
<h1 class="text-5xl font-bold m-auto">No posts!</h1>
{% else %}
<div class="flex flex-col justify-center items-center">
  {% for post in feed %}
  <div class="card w-96 bg-primary my-4 py-4 text-primary-content">
    <div class="card-body">
      <div class="flex flex-row items-start justify-start text-start">
        <div class="avatar">
          <div class="w-12 rounded-xl border-black border-solid border-2">
            <img src={{post.avatar_url}}>
          </div>
        </div>
        <h2 class="card-title">{{post.username}}</h2>
      </div>
      <h3>{{post.created_at.date()}}</h3>
      <p>{{post.content}}</p>
      <p>{{post.id}}</p>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}


{% endblock %}