{% extends "../components/form.html" %}

{% block hero_content %}
<h1 class="text-5xl font-bold">Log In now!</h1>
<p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
  quasi.
  In deleniti eaque aut repudiandae et a id nisi.</p>
{% endblock %}

{% block form %}
<div class="flex flex-col w-full border-opacity-50">
  <form class="card-body" action="/login" method="post">
    {% let fields =
    [
    ("email".to_owned(),"your@email.com".to_owned(),"required".to_owned(),"".to_owned()),
    ("password".to_owned(),"********".to_owned(),"required".to_owned(),"<label class=\"label\"><a href=\"#\"
        class=\"label-text-alt link link-hover\">Forgot password?</a></label>".to_owned())
    ]
    -%}
    {% for (name,placeholder,required,custom) in fields %}
    {% include "../components/field.html" %}
    {% endfor %}
    {% include "../components/turnstitle.html" %}
    <div class="form-control mt-6">
      <button class="btn btn-primary">Log In</button>
    </div>
  </form>
  <div class="divider">OR</div>
  {% include "../components/oauth.html" %}
</div>
{% endblock %}