{% extends "../components/form.html" %}

{% block hero_content%}
<h1 class="text-5xl font-bold">Sign Up now!</h1>
<p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
  quasi.
  In deleniti eaque aut repudiandae et a id nisi.</p>
{% endblock %}

{% block form %}
<form class="card-body" action="/auth/signup" method="post">
  {% let fields =
  [
  ("email".to_owned(),"your@email.com".to_owned(),"required".to_owned(),"".to_owned()),
  ("password".to_owned(),"********".to_owned(),"required".to_owned(),"".to_owned()),
  ("confirm_password".to_owned(),"********".to_owned(),"required".to_owned(),"".to_owned())
  ]
  -%}
  {% for (name,placeholder,required,custom) in fields %}
  {% include "../components/field.html" %}
  {% endfor %}
  {% include "../components/turnstitle.html" %}
  <div class="form-control mt-4">
    <button class="btn btn-primary">Sign Up</button>
  </div>
</form>
<h2 class="text-center font-semibold text-xl">OR</h2>
{% include "../components/oauth.html" %}
{% endblock %}