{% extends "../components/form.html" %}

{% block hero_content%}
<h1 class="text-5xl font-bold">Sign Up now!</h1>
<p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
  quasi.
  In deleniti eaque aut repudiandae et a id nisi.</p>
{% endblock %}

{% block form %}
<form class="card-body" action="/auth/signup" method="post">
  <div class="form-control">
    <label class="label">
      <span class="label-text">Email</span>
    </label>
    <input name="email" type="email" placeholder="email" class="input input-bordered" required />
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input name="password" type="password" placeholder="password" class="input input-bordered" required />
  </div>
  <div class="form-control">
    <label class="label">
      <span class="label-text">Confirm password</span>
    </label>
    <input name="confirm" type="password" placeholder="password" class="input input-bordered" required />
  </div>
  <div class="cf-turnstile mx-auto" data-sitekey="0x4AAAAAAAQx6vPQvUVtTfRh"></div>
  <div class="form-control mt-6">
    <button class="btn btn-primary">Sign Up</button>
  </div>
</form>
{% endblock %}