<div class="navbar bg-base-100 py-4">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost sm:text-4xl text-3xl text-center">
      Krabby
    </a>
  </div>
  <div class="navbar-end">
    {% if base.route == "/login" && !base.logged_in %}
    <ul class="menu menu-horizontal px-1 text-xl">
      <li>
        <a href="/signup">
          Sign Up
        </a>
      </li>
    </ul>
    {% else if base.route == "/signup" && !base.logged_in %}
    <ul class="menu menu-horizontal px-1 text-xl">
      <li>
        <a href="/login">
          Log In
        </a>
      </li>
    </ul>
    {% else if !base.logged_in %}
    <ul class="menu menu-horizontal px-1 text-base sm:text-xl">
      <li>
        <a href="/login">
          Log In
        </a>
      </li>
      <li>
        <a href="/signup">
          Sign Up
        </a>
      </li>
    </ul>
    {% else %}
    {% match base.user %}
    {% when Some with (val) %}
    <div class="avatar">
      <div class="w-12 rounded-xl border-black border-solid border-2">
        <img src={{val.avatar_url}}>
      </div>
    </div>
    {% when None %}
    {% endmatch %}
    {% endif %}
  </div>
</div>